[submodule "FundSolidity/lib/forge-std"]
	path = FundSolidity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundSolidity/lib/openzeppelin-contracts"]
	path = FundSolidity/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "FundSolidity/lib/diamond-3-hardhat"]
	path = FundSolidity/lib/diamond-3-hardhat
	url = https://github.com/mudgen/diamond-3-hardhat
[submodule "FundSolidity/lib/chainlink"]
	path = FundSolidity/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "FundSolidity/lib/chainlink-brownie-contracts"]
	path = FundSolidity/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
